[Unit]
Description=Time Tracker Flask Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/time_tracker
EnvironmentFile=/root/time_tracker/.env
Environment=FLASK_ENV=production

# Создаём уникальный индекс перед запуском
ExecStartPre=/usr/local/bin/flask --app wsgi create-index

ExecStart=/usr/local/bin/gunicorn \
    -w 2 --timeout 120 \
    --access-logfile /var/log/time_tracker/access.log \
    --error-logfile /var/log/time_tracker/error.log \
    -b 127.0.0.1:8001 wsgi:app

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target